   html, body {
      margin: 0;
      padding: 0;
      background-color: rgb(255, 255, 255);
    }

 

    #sketchContainer{
      display: flex;
      flex-wrap: wrap;
      /* transform: scale(0.5); */

    }

  

  




    

   